<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jonathan <span class="hidden-phone">Holmlund</span></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavBarCtrl">
                <li ng-class="navClass('home')"><a href="#/home">Home</a></li>
                <li ng-class="navClass('contact')"><a href="#/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>