<section class="jumbotron text-center container-fluid">

        <div class="col-md-8">
            <h1>Jonathan Holmlund</h1>
            <br />
            <h2><em>Software Developer</em></h2>
            <br />
            <p>
                Hi, I am a Software Developer with a keen interest in mobile and web development.
                I currently work for a software development company called <a href="http://www.penrillian.com">Penrillian</a>.
                In May 2012, I graduated from Teesside University, achieving a first class honours degree in Computer Science.
                Since University I have worked with a variety of technology but most recently specialised in JavaScript, iOS with objective-c and the Microsoft C# ASP.NET technology stack.
            </p>
        </div>
        <div class="col-md-4">
            <figure class="">
                <img src="assets/img/Skiing.png" alt="Me and Abbie Skiing" class="img-responsive img-rounded center-block"/>
                <figcaption>Me and Abbie skiing in Claviere</figcaption>
            </figure>
        </div>

</section>
<section class="row">
    <div class="col-md-4">
        <h2>Skills</h2>
        <dt>JavaScript, HTML and CSS</dt>
        <dd>I have been using jQuery on a single page application for 2 years.
            Both at home and work, I have also been introduced to the frameworks Angular, Backbone, Knockout and more recently EmberJS.
            I understand many of the key concepts behind these frameworks and encourage their use at work as I see appropriate.
            I also have experience using NodeJS and GruntJS to help with the build process and dependency management.</dd>
        <dt>iOS Development</dt>
        <dd>I have been part of an iPhone project at Penrillian for 6 months.
            I have been involved in the project since the initial stages of the design and have worked on the automated build processes, setting up app certificates, development, ad hoc distribution using TestFlight and most recently on releasing to the App Store.
            In my spare time I am producing an iPhone application and have also previously developed an iPad application as my final year university project.
        </dd>
        <dt>C# and ASP.NET</dt>
        <dd>Throughout my studies at Teesside University, I used C# and the .NET framework to create multiple desktop and web applications.
            In my final year of University I developed an ASP.NET MVC3 application, which included a database created using Entity Framework code first development and JSON services for an iPad application.</dd>
    </div>
    <div class="col-md-4">
        <div class="skills-continued hidden-sm hidden-xs"></div>
        <dt>Automated Build Process</dt>
        <dd>I have experience in using the continuous integration tool Team City. At Penrillian, I am a Team City administrator and assist colleagues in setting up their projects automated scripts.
            I have mainly used ANT for automating builds, however recently I have worked on migrating ANT scripts to GruntJS, a JavaScript task runner.</dd>
        <dt>Test Driven Development</dt>
        <dd>I have a keen interest in TDD and have experience in using QUnit for JavaScript, NUnit for .NET as well as using, and creating tests for an automated browser testing tool using Selenium.
            The automated testing tool was created using Geb and Spock (using the programming language Groovy).</dd>
        <dt>Agile Development</dt>
        <dd>At Penrillian I have acquired skills in every part of agile development, including pair programming, daily stand up’s, retrospectives and continuous integration.
            We work closely with the customer, conducting regular meetings and welcome any changes required.
            In order for this to be a smooth process, I ensure that I am well organised and proactive in providing an efficient and accurate service for every customer.</dd>
    </div>
    <div class="col-md-4">
        <h2>Qualifications</h2>
        <ul>
            <li>First class degree in Computer Science</li>
            <li>Web Applications Development with Microsoft .NET Framework 4 </li>
            <li>Programming in HTML5 with JavaScript and CSS3 </li>
        </ul>
        <img class="img-responsive" src="assets/img/MCTS.png" alt="Web Applications Certification" style="margin-top: 15px;" />
        <div class="clearfix">
            <a href="assets/documents/JonathanHolmlundCV.pdf" target="_blank" class="btn btn-info pull-right" style="margin-top:15px;">See / Download CV</a>
        </div>
        <h2>Example Code</h2>
        <div class="alert alert-info">See the code for this website on Github <a href="https://github.com/Jonoh89/MyAngularWebsite">here</a>.</div>
        <p>Made using the following technologies:</p>
        <ul>
            <li>AngularJS SPA framework</li>
            <li>Twitter Bootstrap CSS</li>
            <li>Node package manager</li>
            <li>Bower web package manager</li>
            <li>GruntJS task runner</li>
            <li>Divshot cli hosting</li>
            <li>Parse.com data and cloud services</li>
            <li>Protractor and Karma for tests written in Jasmine</li>
        </ul>
    </div>

</section>